---
import Layout from "../layouts/Layout.astro";
import Header from "../components/common/Header.astro";
import Container from "../components/common/Container.astro";
---

<Layout title="Welcome">
	<Header />

	<Container>
		<ul class="flex flex-col gap-3 text-xl font-bold">
			<li>
				<h2>
					<a href="/diamat">Диалектический материализм</a>
				</h2>
			</li>
			<li>
				<h2>
					<a href="/istmat">Исторический материализм</a>
				</h2>
			</li>
		</ul>

	</Container>
</Layout>
