---

---

<header class="flex gap-6 bg-red-400 p-2 mb-10">
    <div class="text-white font-bold">
        <a href="/">Kalancha logo</a>
    </div>
    <!--<ul class="flex gap-4">-->
    <!--    <li class="text-white">-->
    <!--        <a href="/">Домой</a>-->
    <!--    </li>-->
    <!--</ul>-->
</header>